.imgContainer{
    height: 6.25rem;
    width: 6.25rem;
    position: relative;
}

.table{
    border-spacing: 2.25rem;
    width: 100%;
    text-align: end;
}

.mobileTable{
    display: none;
}

@media (max-width: 480px) {
    .table{display: none;}

    .mobileTable{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
    }

    .cartItem{
        font-size: 1.3rem;
    }

    .imgContainer{
        width: 18.75rem;
        height: 18.75rem;
        margin-bottom: 1rem;
    }
}