.customer_info{
    width: 100%;
    line-height: 1.5;
    font-size: 1.25rem;
}

.customer_info ul{
    list-style-type: none;
    padding-left: 5rem;
    margin: 0;
}

.customer_info h2{
    text-align: center;
    margin-top: 0;
    color: green;
    font-family: "Times New Roman", serif;
}