.container{
    height: calc(100vh - 6.25rem);
    background-color: #d1411e;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    cursor: pointer;
}

/* right arrow */
.arrowContainer:last-child{
    right: 0;
}

.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: all 1.4s cubic-bezier(0,1.37,.54,-0.4);
}

.imageContainer{
    height: 100%;
    width: 100vw;
    position: relative;
}